<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title> </title>
    {% block title %}{% endblock %}
  </head>
  <body>
    <h1 style="background-color:darkolivegreen;color:white;text-align:center">Curso de Django de pildoras informaticas</h1>
    {% include "nav-bar.html" %}
    <h3 style="text-align:right">Cursos de programacion que he aprendido autodidacta</h3>
    {% block content %}{% endblock %}
    <p style="background-color:darkolivegreen;color:white;text-align:right">Curso gratuito que hice en youtube</p>
  </body>
</html>