doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    style.
        #barra{
        margin:0;
        padding:0;
        list-style:none;
        text-transform:uppercase;
        }
        #barra li{
            display:inline;
            margin:0 20px;
        }
    body
        ul(id="barra"): li home
            li servicios
            li quienes somos
            li contacto
            li acerca de 
