|{% extends "base.html" %}
|
|{% block title %}Curso C# {% endblock %}
|
|{% block content %}
|
p estamos a dia : {{fecha}}
|
iframe(width='1440' height='576' src='https://www.youtube.com/embed/d1-UX6aR_TM' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
|
|
|{% endblock %}