html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="stylesheet", href="/Users/daniel/NetBeansProjects/pug2019-initial/public/css/styles.css")
        title localHost 8000 /saludo
        |
        |{% include "nav-bar.html" %}
        
    body(style="text-align:center")
        |
        |{% include "barra.html" %}
        h2(style="color:red") TITULO CON ROJO
        div(style="text-align:center"): img(src="https://liceotecnicotalcahuano.cl/wp-content/uploads/2017/09/cropped-LOGO.png", alt="logo",align="middle",height="100",width="80")
        h3(style="color:blue") Hola, esta es la primera plantiilla 
        
        //- las condicionales con plantilla deben darse con dos de estos simbolos para que haga punto aparte'|'
        |
        |{% if nombre_persona == 'profesor Holger' %}
        |
        |{# ESTo ES UN COMENTARIO DE PLANTiLLA #}
        |
        |{% comment %}
        |
        |Esto es un cmentario de dos o mas lineas
        |esto es un comentario de una segunda linea
        |
        |{% endcomment %}
        p(style="color:skyblue") el curso lo imparte el profesor titular
        |
        |{% else %}
        p(style="color:green") el curso lo imparte el profesor suplente
        |
        |{% endif %}
        p El nombre del profesor es {{nombre_persona|upper}} {{apellido_persona.lower}}
        p estamos viendo el tema de las plantillas a d&iacutea : {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}
        p: strong Temas del curso
        p bucle for
        p: ul 
            |{% for elTema in temas%} 
            li {{elTema|first|upper}}
            | 
            |  {%endfor%} 
        p condicional if
        p: ul 
            | {% if temas.1%}
            |{% for elTema in temas%} 
            li {{elTema}}
            | 
            |  {%endfor%} 
            |  {% else %}
            li no hay temas
            |
            |  {% endif %}
        
